@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #08243a;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} 

.bg-main {
	background-color: #11212E;
}

.bg-secondary {
	background-color: #08243a;
}

/* Showcase styles */

.bg-showcase {
	background-image: url(../public//img/showcaseBackground_1.webp);
	height: calc(100vh - 64px);
	width: 100%;
}

.text-showcase {
	margin-top: calc(25vh);
	color: white;
	text-align: center;
	font-size: 78px;
	font-weight: bold;
	position: relative;
	letter-spacing: 2px;
}

.text-showcaseSecondary {
	color: white;
	font-size: 24px;
	font-weight: lighter;
}

.inputSearch {
	height: 40px;
	width: 344px;
	border-radius: 12px;
}

input:focus-visible {
	outline:none;
}

.searchForm {
	display: flex;
	background-color: white;
	align-items: center;
	width: 200px;
	justify-content: center;
	background-color: red;
}

.buttonExplore {
	background-color: transparent;
	border: solid #08243a 2px;
	padding: 15px 50px 15px 50px;
	color: white;
}

.buttonExplore:hover {
	background-color: #f2f2f2;
	color: #08243a;
}

.buttonSearch {
	background-color: #08243a;
	border: solid #f2f2f2 1px;
	padding: 15px 50px 15px 50px;
	color: white;
}

.buttonSearch:hover {
	background-color: #f2f2f2;
	color: #08243a;
	border: solid #08243a 2px;
}

.tabHeader {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.tabParagraph {
	font-size: 15px;
	text-align: justify;
	padding: 20px;
}

.tab {
	width: 20vw;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.margines {
	margin-top: 10vh;
	margin-bottom: 5vh;
}

.margines2 {
	padding-bottom: 10vh;
}

.cardLink:hover {
	cursor: pointer;
}

.minusMargin {
	margin-top: -40px;
	padding-bottom: 40px;
}

	@media only screen and (max-width: 1024px) {
		.tab {
			width: 100vw;
			border-radius: 0px;
		}
		.margines {
			margin: 0;
		}
		.margines2 {
			margin-bottom: 0;
		}
		
		.text-showcase {
		margin-top: calc(25vh);
		}
	}

@media only screen and (max-width: 666px) {
	.text-showcase {
		margin-top: calc(15vh);
		font-size: 25px;
		}
	.buttonExplore {
		padding: 5px 25px 5px 25px;
		text-align: center;
		width:200px;
	}
	.buttonSearch {
		padding: 5px 25px 5px 25px;
		text-align: center;
		width:200px;
	}
	.text-showcaseSecondary {
		font-size: 15px;
	}
	.inputSearch {
		height: 40px;
		width: 280px;
		border-radius: 12px;
	}
}